.header-svg:hover {
    background-color: #000;
 }
  
 .header-svg:hover path {
    fill: #FFEA94;
    stroke: #FFEA94;
 }

 .header-navigation-item:hover,
.header-navigation-item:focus {
   font-weight: 700;
}